<app-header>
  <p levels>Ships</p>
  <div content>
    <p>Ship</p>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="ships && ships.length>0; else noShipsInfo" class="cs-table table table-striped">
        <thead>
        <tr>
          <th>size</th>
          <th>name</th>
          <th>maxSpeed</th>
          <th>weaponPower</th>
          <th>picture</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ship of ships" class="row-ship" (click)="gotoShipDetails(ship)">
          <td appImportant>{{ship.size}}</td>
          <td>{{ship.name}}</td>
          <td>{{ship.maxSpeed}}</td>
          <td>{{ship.weaponPower}}</td>
          <td><img width="150" height="100" src="http://54.37.138.230:8010/ships/images/v1/{{ship.jpg0}}" alt="ship">
          </td>
          <td (click)="removeShip(ship,$event)">(REMOVE)</td>
        </tr>
        </tbody>
      </table>
      <ng-template #noShipsInfo>
        <div class="no-ships-info">
          <p>Currently no ships</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<p class="data-header">Add ship</p>
<div class="data-container">
  <form [formGroup]="shipForm">
    <div class="row form-group">
      <div class="col-md-4">
        <label>Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="name">
        <p *ngIf="!shipForm.get('name').valid && shipForm.get('name').dirty" class="error">This field is required</p>
      </div>
      <div class="col-md-4">
        <label>Size</label>
        <input formControlName="size" type="text" class="form-control" placeholder="size">
        <p *ngIf="!shipForm.get('size').valid && shipForm.get('size').dirty" class="error">This field is required</p>
      </div>
      <div class="col-md-4">
        <label>Max speed</label>
        <input formControlName="maxSpeed" type="text" class="form-control" placeholder="0">
        <p *ngIf="!shipForm.get('maxSpeed').valid && shipForm.get('maxSpeed').dirty" class="error">This field is
          required</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Weapon power</label>
        <input formControlName="weaponPower" type="text" class="form-control" placeholder="0">
        <p *ngIf="!shipForm.get('weaponPower').valid && shipForm.get('weaponPower').dirty" class="error">This field is
          required</p>
      </div>
      <div class="col-md-4">
        <label>weapon Range Km</label>
        <input formControlName="weaponRangeKm" type="text" class="form-control" placeholder="0">
        <p *ngIf="!shipForm.get('weaponRangeKm').valid && shipForm.get('weaponRangeKm').dirty" class="error">This field
          is required</p>
      </div>
      <div class="col-md-4">
        <label>weaponRangeUnits</label>
        <input formControlName="weaponRangeUnits" type="text" class="form-control" placeholder="0">
        <p *ngIf="!shipForm.get('weaponRangeUnits').valid && shipForm.get('weaponRangeUnits').dirty" class="error">This
          field is required</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Damage</label>
        <input formControlName="damageCapacity" type="text" class="form-control" placeholder="0">
        <p *ngIf="!shipForm.get('damageCapacity').valid && shipForm.get('DamageCapacity').dirty" class="error">This
          field is required</p>
      </div>
      <div class="col-md-4">
        <label>Downed</label>
        <input formControlName="downedPoints" type="text" class="form-control" placeholder="0">
        <p *ngIf="!shipForm.get('downedPoints').valid && shipForm.get('downedPoints').dirty" class="error">This field is
          required</p>
      </div>
      <div class="col-md-4">
        <label>Destroyed</label>
        <input formControlName="destroyedPoints" type="text" class="form-control" placeholder="0">
        <p *ngIf="!shipForm.get('destroyedPoints').valid && shipForm.get('destroyedPoints').dirty" class="error">This
          field is required</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Escape Time</label>
        <input formControlName="escapeTime" type="text" class="form-control" placeholder="escapetime">
        <p *ngIf="!shipForm.get('escapeTime').valid && shipForm.get('escapeTime').dirty" class="error">This
          field is required</p>
      </div>
      <div class="col-md-4">
        <label>Firing Interval</label>
        <input formControlName="firingInterval" type="text" class="form-control" placeholder="firinginterval">
        <p *ngIf="!shipForm.get('firingInterval').valid && shipForm.get('firingInterval').dirty" class="error">This field is
          required</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="shipForm.invalid" (click)="addShip()" type="submit" class="btn btn-primary float-right">
          Add ship
        </button>
        <button (click)="shipForm.reset()" class="btn btn-default float-right">Reset</button>
      </div>
    </div>
  </form>
  <!--<pre> {{shipForm.value | json}}</pre>-->
  <!--<pre> stan walidacji name: {{shipForm.get('name').valid | json}}</pre>-->
  <!--<pre> stan walidacji size: {{shipForm.get('size').valid | json}}</pre>-->
  <!--<pre> stan walidacji max speed: {{shipForm.get('maxSpeed').valid | json}}</pre>-->
  <!--<pre> stan walidacji weapon power: {{shipForm.get('weaponPower').valid | json}}</pre>-->
  <!--<pre> stan walidacji weapon range km: {{shipForm.get('weaponRangeKm').valid | json}}</pre>-->
  <!--<pre> stan walidacji weapon range units: {{shipForm.get('weaponRangeUnits').valid | json}}</pre>-->
  <!--<pre> stan walidacji damage capacity: {{shipForm.get('damageCapacity').valid | json}}</pre>-->
  <!--<pre> stan walidacji downed points: {{shipForm.get('downedPoints').valid | json}}</pre>-->
  <!--<pre> stan walidacji destroyed points: {{shipForm.get('destroyedPoints').valid | json}}</pre>-->
</div>
